:root {
    --grid-borders: 5px solid black;
}

* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    display: grid;
    height: 40rem;
    width: 40rem;
    box-shadow: 5px 5px 10px #aaa;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: var(--grid-borders);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cell {
    font-size: 10rem;
    text-align: center;
}
.col0-cell {
    grid-column-start: 1;
    border-right: var(--grid-borders);
}

.col1-cell {
    grid-column-start: 2;
    border-right: var(--grid-borders);
}

.col2-cell {
    grid-column-start: 3;
}

.row2-cell {
    grid-row-start: 1;
    border-bottom: var(--grid-borders);
}

.row1-cell {
    grid-row-start: 2;
    border-bottom: var(--grid-borders);
}

.row0-cell {
    grid-row-start: 3;
}

.modal-bg {
    position: fixed;
    z-index: 1;
    height:100%;
    width:100%;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    background-color: rgba(100,100,100,.6);
    backdrop-filter: blur(10px);
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 30%;
    width: 30%;
    position:fixed;
    top: 30%;
    left: 35%;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
    padding: 10px;
    border: var(--grid-borders);
}

.modal h1 {
    text-align: center;
}
.modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

#win-text {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}